@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body
{
    padding: 0px;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    background: #292D32 url("images/back.svg") no-repeat;
    background-size: cover;
}
.block_wrapper
{
    max-width: 1530px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}
.block_logo
{
    margin-top: 70px;
}
.block_welcome
{
    margin-top: 100px;
    display: flex;
    column-gap: 4.5%;
}
.block_welcomeLeft
{
    flex-basis: 635px;
    max-width: 635px;
}
.block_intro
{
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    max-width: 1140px;
}
.block_intro p
{
    margin: 20px 0px 0px;
    max-width: 930px;
}
h1
{
    margin: 20px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 88px;
}
.block_welcome p
{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 20px 0px;
}
.btn_readDocs
{
    width: 220px;
    height: 50px;
    margin-top: 40px;
}
.btn_send
{
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.btn
{
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    background: #FF5E15;
    border-radius: 6px;
    border: none;
    outline: none;
}
.btn:hover
{
    opacity: 70%;
    text-decoration: underline;
}
.block_intro p
{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
}
.block_solType
{
    display: flex;
    align-content: space-between;
    grid-column-gap: 30px;
    grid-row-gap: 100px;
    flex-wrap: wrap;
    margin-top: 217px;
}
.graybox
{
    background: #2D3137;
    border: 1px solid #42464B;
    border-radius: 12px;
}
.img_sol1
{
    position: relative;
    top: -76px;
    margin-bottom: -76px;
}
.img_sol2
{
    position: relative;
    top: -76px;
    margin-bottom: -76px;
}
h2
{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
}

.block_metricsItems
{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-basis: 100%;
    padding-bottom: 100px;
}
.block_metricsItems p
{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.block_sol1
{
    flex: 1;
    padding: 0px 35px 120px 45px;
}
.block_sol2
{
    flex: 1;
    padding: 0px 35px 120px 45px;
}
.block_metrics
{
    text-align: center;
    padding-top: 80px;
}
.block_team
{
    margin-top: 80px;
    text-align: center;
}
.block_teamMembers
{
    margin-top: 60px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-basis: 100%;
}
.img_sol1,
.img_sol2
{
    text-align: center;
}
.block_welcomeLeft
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#p_memberName
{
    margin: 40px 0px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}
.block_teamMembers p
{
    margin: 10px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
input,
textarea
{
    padding: 13px 20px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    outline: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin-top: 20px;
}
#msg
{
    height: 100px;
}
.block_contact
{
    padding: 100px 12px 120px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
}
.block_contactForm
{
    display: flex;
    flex-direction: column;
    flex-basis: 490px;
}
.block_contactImg
{
    display: flex;
    justify-content: end;
    align-items: center;
}
.block_social
{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.block_footer
{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}
.block_footer p
{
    margin: 0;
}
.social_icon:hover
{
    opacity: 70%;
}
img
{
    max-width: 100%;
    object-fit: contain;
}
.block_contactForm h1
{
    margin-bottom: 60px;
}
label
{
    display: none;
}

@media (max-width: 767px) {
    .block_social
    {
        column-gap: 12px;
    }
    .block_logo
    {
        max-width: 70%;
    }
    .block_welcome
    {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 70px;
    }
    h1
    {
        font-size: 48px;
        line-height: 120%;
    }
    h2
    {
        font-size: 30px;
    }
    .block_intro
    {
        margin-top: 85px;
    }
    .block_contact
    {
        flex-direction: column;
    }
    .block_sol1
    {
        padding-bottom: 60px;
    }
    .block_sol2
    {
        padding-bottom: 60px;
    }
    .block_contact
    {
        padding: 40px 10px 60px 10px;
    }
    .block_contactForm
    {
        text-align: center;
    }
    .block_contactForm h1
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .block_teamMembers
    {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 50px;
        column-gap: 15px;
    }
    .block_teamMembers img
    {
        max-width: 70%;
    }
    .block_metricsItems
    {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 70px;
    }
    .block_metrics
    {
        padding-top: 50px;
    }
    .block_solType
    {
        margin-top: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .block_metricsItems
    {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .block_teamMembers
    {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 50px;
        column-gap: 15px;
    }
    .block_teamMembers img
    {
        max-width: 70%;
    }
    h2
    {
        font-size: 38px;
    }
    .block_welcome
    {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 50px;
    }
    .block_intro
    {
        margin-top: 120px;
    }
    .block_welcomeRight
    {
        text-align: center;
    }
    .block_welcomeRight img
    {
        max-width: 80%;
        object-fit: contain;
    }
    .block_solType
    {
        flex-direction: column;
    }
    .block_contact
    {
        flex-direction: column;
        padding: 60px 12px 80px 12px;
        row-gap: 50px;
    }
    .block_logo
    {
        margin-top: 50px;
        max-width: 70%;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {

    .block_teamMembers img
    {
        max-width: 90%;
    }
    h1
    {
        font-size: 52px;
        line-height: 140%;
    }
    h2
    {
        font-size: 42px;
    }
    .block_sol1
    {
        padding-bottom: 80px;
    }
    .block_sol2
    {
        padding-bottom: 80px;
    }
    .block_contact
    {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .block_wrapper
    {
        width: 85%;
    }
    .block_welcome
    {
        column-gap: 40px;
    }

}

