@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*,*:after,*:before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}
.wrapper{

}
.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #292D32;
    z-index: 2;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo{
    flex: 0 0 60px;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.header__burger{
    display: none;
}
.header__menu{

}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header__link{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.content{
    padding: 100px 0px 0px 0px;
}
.content__text{
    font-size: 18px;
    line-height: 25px;
}
.content__text p{
    margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
    body.lock{
        overflow: hidden;
    }
    .header__link{
        font-size: 24px;
    }
    .content{
        padding: 60px 0px 0px 0px;
    }
    .header__list li{
        margin: 0px 0px 20px 0px;
    }
    .header__list {
        display: block;
    }
    .header__logo{
        flex: 0 0 40px;
    }
    .header__body {
        height: 50px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #42464B;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu.active{
        top: 0;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #FFFFFF;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        top: 9px;
        transform: rotate(45deg);
    }
    .header__burger.active:after{
        bottom: 9px;
        transform: rotate(-45deg);
    }
    .header__burger.active span{
        transform: scale(0);
    }
}
